:root {
  --wood-colour: #B95129;
  --unread: red;
  --read: green;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px 3px rgb(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

header > p {
  font-style: italic;
}

button.new-book {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

button:not(.book button){
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: bold;
  border: none;
}

button:not(.book button):hover {
  background-color: white;
  border: solid blue 2px;
  color: blue;
}

button {
  cursor: pointer;
}

.books-section {
  flex-grow: 1;
  background-image: url(https://t3.ftcdn.net/jpg/01/04/61/96/360_F_104619688_UP27I7cxkZKuNZn9GxCLCj0TztesAyMV.jpg);
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11ch, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 5px;
}

.book {
  border-radius: 8px;
  overflow: hidden;
  height: 25rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book p {
  border-top: solid gold 2px;
  width: 100%;
  text-align: center;
}

.book button {
  margin-bottom: 16px;
}

.book h3{
  writing-mode: vertical-rl;
  overflow: hidden;
  flex-grow: 1;
  text-align: center;
}

.read {
  background-color: var(--read);
}

.unread {
  background-color: var(--unread);
}

dialog p {
  display: inline-block;
}

.modal-button-container {
  display: flex;
  justify-content: center;
}

.modal-button-container > button {
  margin-left: 10px;
  margin-right: 10px;
}

/*need to: 
-Fix modal formatting
-Format header including fonts / add a quote