:root {
  --wood-colour: burlywood;
  --red: red;
  --green: lightgreen;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}

button.new-book {
  width: 100px;
  align-self: center;
}

.books-section {
  background-color: var(--wood-colour);
  flex-grow: 1;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.bookshelf > * {
  background-color: red;
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}