:root {
  --wood-colour: #B95129;
  --unread: red;
  --read: green;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

button.new-book {
  width: 100px;
  align-self: center;
}

.books-section {
  flex-grow: 1;
  background-image: url(https://t3.ftcdn.net/jpg/01/04/61/96/360_F_104619688_UP27I7cxkZKuNZn9GxCLCj0TztesAyMV.jpg);
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(20, 11ch);
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 5px;
}

.bookshelf > div {
  border-radius: 8px;
  overflow: hidden;
  height: 25em;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookshelf p {
  border-top: solid gold 2px;
  width: 100%;
  text-align: center;
}

.bookshelf button {
  margin-bottom: 16px;
}

.bookshelf h3{
  writing-mode: vertical-rl;
  overflow: hidden;
  flex-grow: 1;
}

.read {
  background-color: var(--read);
}

.unread {
  background-color: var(--unread);
}

/*need to: 
-Fix horizontal grid overflow and vertical grid overflow
  -Use the autofit/fill minmax tech
-Fix modal formatting
-Format header including fonts
-Format button/s